body{
    margin: 0; /*Убрал отступы по умолчанию*/
}


.main {
    width: 1920px;
    height: 975px;
    background-image: url(../content/background.png);
}


.container-content {
    
}


.header {
    padding: 30px 0px 0px 0px; /*Внутренние отступы*/
    display: flex;  /*Шоб элементики хедера шли слева направо*/
    justify-content: center; /*Центрирование*/
    align-items: center; /*Центрирование*/
    position: relative;
}
.header-dropdown_menu {
    cursor: pointer; /*Изменение курсора при наведении*/
}


.dropdown-menu{
    left: 0;
    top: 117px;
    height: 766px;
    width: 183px;
    z-index: 1;
    position: absolute;
    background-color: #2b2c2c;
    border-radius: 20px;
    transform: translate(-100%, 0px);
    transition: all 0.2s ease 0s;
    /*Надоело делать комментарии =(*/
}
.dropdown-menu._active{
    transform: translate(0px, 0px);
    transition: all 0.5s ease 0s;
}


.header-logo {
    margin: 0px 600px 0px 600px;
}
.header-account_logo img{
    cursor: pointer; /*Изменение курсора при наведении*/
}


.main-content {
    width: 1555px;
    height: 765px;
    margin: 0 auto; /*Один из методов центрирования*/
    margin-top: 30px;
    background-color: #c4c4c4;
    border-radius: 20px; /*Закругление углов*/
}
.main-content_container{

}

.footer {
    text-align: center; /*Центрирование иконки*/
}
.footer-arrow {
    margin: 25px 0px 0px 0px; /*Внутренние отступы*/
}
.footer-arrow img{
    transition: all 0.3s ease 0s; /*Для плавной анимации отдаления*/
}
.footer-arrow img:hover{
    cursor: pointer; /*Изменение курсора при наведении*/
    transform: scale(1.1); /*Приближение иконки*/
    transition: all 0.3s ease 0s; /*Для плавной анимации приближения*/
}